html ,body{
    min-height: 100hv;
    margin: 0;
    background: blue;
}
body {
    margin:0;
    height: 100vh;
    width: 100%;
    padding: 0;
    background-size: cover;
    display: table;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow:visible;
    color:#A7A1AE;
    background-color:#201c17;
}
h1 {
  font-size:5em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}
table{

    font-size: 1em;
}
th{
    color: orange;
    text-align: center;
    padding: 1em;
}
.one_h{
    margin-left: 0;
    padding-left: 0;
}
.seven_h{
        padding-left: 6em;
        padding-right: 6em;
        text-align: center;
}
.four_h{
    padding-left: 2.5em;
    padding-right: 2.5em;
    text-align: center;
}
.three_h{
    padding-left: .1em;
    padding-right: .1em;
    text-align: center;
}
.table_class{

    margin: 0;
    scroll-behavior: smooth;
    box-sizing: content-box;
    column-gap: normal;

}
td{
    text-align: center;
}
.pagination{
    font-size: 1em;
    border:thin;
    border-radius: 5em;
    border-color: orange;
    padding-left: 30em;
}
.filter{
    margin-top: 5em;
    display:grid;
    grid-template-columns: 1fr ,1fr,1fr,1fr;
    grid-template-rows: 1fr,1fr,1fr,4fr;
    grid-gap: 5px;

    grid-template-areas:
        "row1_one row1_two row1_three row1_four"
        "row2_one row2_two row2_three row2_four"
        "row3_one row3_two row3_three filter_button"
        "table_class table_class table_class table_class"

}
.row1_one{
    font-weight: bold;
    justify-self: right;
    grid-area: row1_one;
    grid-column-start:1/2;
}
.row1_two{
    font-weight: bold;
    justify-self: right;
    grid-area: row1_two;
    grid-column: 2 / 3;
}
.row1_three{
    font-weight: bold;
    justify-self: right;
    grid-area: row1_three;
    grid-column: 3 / 4;
}
.row1_four{
    font-weight: bold;
    justify-self: right;
    grid-area: row1_four;
    grid-column: 4 / 5;
}
.row2_one{
    font-weight: bold;
    justify-self: right;
    grid-area: row2_one;
    grid-column-start:1;
    grid-column-end: 2;
}
.row2_two{
    font-weight: bold;
    justify-self: right;
    grid-area: row2_two;
    grid-column: 2 / 3;
}
.row2_three{
    font-weight: bold;
    justify-self: right;
    grid-area: row2_three;
    grid-column: 3 / 4;
}
.row2_four{
    font-weight: bold;
    justify-self: right;
    grid-area: row2_four;
    grid-column: 4 / 5;
}
.row3_one{
    font-weight: bold;
    justify-self: right;
    grid-area: row3_one;
    grid-column-start:1;
    grid-column-end: 2;
}
.row3_two{
    font-weight: bold;
    justify-self: right;
    grid-area: row3_two;
    grid-column: 2 / 3;
}
.row3_three{
    font-weight: bold;
    justify-self: right;
    align-content: center;
    align-items: center;
    grid-area: row3_three;
    grid-column: 3 / 4;
}
.filter_button{
    margin-top: 3em;
    margin-left: 5em;
    align-self: center;
    border-color: red;
    background-color: orange;
    color: black;
    font-weight: bold;
    width: 12.5em;
    height: 2em;
}
.table_class{
    margin-top: 3em;
    grid-area: table_class;
    grid-column: 1 / 5;
    grid-row: 4 / 5;

}
tr td input .filter{
    float:left;
    height:15em;
    margin-left: 5em;
}
#row1_two{
    float:right;
    margin-left: 15em;
}
